body{
	background-color: #f9f9f9;
	font-family: Gotham SSm,Helvetica,Arial,sans-serif;
}
.row{
	margin-right: 0px;
	margin-left: 0px;
}
.head{
	background-color: #ffffff;
	border-bottom: 1px solid #dccdcd;
    height: 80px;
}
.logo{
	width: 45%;
	height: 65%;
    margin-left: 30%;
    margin-top: 8%;
}

.down{
    margin-left: -3%;
    width: 5%;
}


    .searchbar{
    margin-bottom: auto;
    margin-top: 6%;
    height: 42px;
    background-color: #ffffff;
    border-radius: 2px;
    width: 54%;
    border: 1px solid #dccdcd;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar > .search_input{
    padding: 0 10px;
    width: 65%;
    caret-color:red;
    font-size: 14px;
    }

    .searchbar > .search_icon{
    background: white;
    color: #37a000;
    float: left;
    text-decoration: none !important; 
    }

    .search_icon{
    height: 40px;
    width: 35px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    }

    .head_nav{
    	float: right;
    	margin-top: 2%;
    }

    .head_nav_btn{
    	background-color: #008329;
    	color: white;
    }
    .d-menu{
        padding-top: 4%;
        text-align: center;
    }
    .d-menu1{
        padding-top: 0.5%;
        text-align: center;
    }
    .n-i-c{
    	color: #666 !important;
    	font-size: 12px;
    	font-weight: 700;
        text-decoration: none !important;
    }
    .n-i-c1{
        color: #666 !important;
        font-size: 12px;
        font-weight: 700;
        text-decoration: none !important;
        text-align: center;
    }
    .n-i-b{
    	width: 120%;
        height: 30px;
    	font-weight: 700;
    	font-size: 12px;
    	border-radius: 2px;
    	background-color: #37a000;
        border: none;
        color: white !important;
        text-decoration: none !important;
    }
    .head2{
    	/*background-color: #8e76a8;*/
    }

    .head_nav2{
    	padding-right: 2.5rem !important; 
    }
    .n-link2{
    	color: #666 !important;
    	font-weight: 700;
    	font-size: 12px;
    	line-height: 12px;
    }
    .slider1{
    	width: 100%;
    	height: 450px;
    }
    .banner{
    	position: absolute;
        margin-top: 0.5%;
    }
    .banner-txt{
    	position: relative;
    	color: white;
    	padding-left: 12%;
    	padding-top: 9%;
    }
    .banner-btn{
        width: 12%;
        border-radius: 2px;
        background-color: #37a000;
        margin-left: 3.5%;
    }

    .navbar-new-top{
    background: #fff;
}
.navbar-brand{
    font-weight: 600;
}
.navbar-brand img{
    width: 20%;
}
.navbar-new-top ul{
    margin-right: 9%;
}
.navbar-new-top ul li{
    margin-right: 8%;
}
.navbar-new-bottom{
    background-color: #f7f7f7;
    box-shadow: 0 5px 6px -2px rgba(0,0,0,.3);
    border-top: 1px solid #e0e0e0;
    margin-top: 5%;
    height: 40px;
}
.navbar-new-bottom ul li{
    margin-left: 2.2%;
    margin-right: 2.2%;
}
.navbar-nav .nav-item a {
    color: #666 !important;
    font-size: 14px;
    font-weight: 600;
    transition: 2s ease;
}
.navbar-nav .nav-item a:hover{
    color: #0062cc;
}
.banner-txt-h1{
    font-family:  Canela Deck Bold;
    font-weight: 600;
    padding-left: 3.5%;
}
.banner-txt-p{
    font-family:  Canela Deck Bold;
    padding-left: 3.5%;
}
.banner-txt-p1{
    font-family:  Canela Deck Bold;
    text-align: center;
    padding-top: 5%;
    padding-left: 15%;
}

.agency{
    padding-left: 1.5%;
}
.crd-box{
    box-shadow: 2px 2px 10px 2px #888888;
}
.crd-txt{
    font-weight: 600;
    font-size: 15.5px;
}

.visit{
    text-align: center;
    font-size: 14px;
}
.visit1{
   color: #37a000 !important;
}
.footer{
    text-align: center;
    background-color: #222222;
}
.foot-p{
    color: white;
}
.foot-link{
    color: #666 !important;
}